
<div class="privacy flex flex-col items-center">
  <div class="p-8 md:w-4/5">
    <h1 class="text-2xl font-bold md:text-center py-8">BOOZEKUZUお問い合わせ</h1>
    <div>ご連絡有難うございます。</div>
    <div>以下のフォームからご連絡ください。</div>
    <div><%= link_to 'お問い合わせフォーム', 'https://docs.google.com/forms/d/e/1FAIpQLSf0MOprqigtuwQM0INVa76A17PXF33OYMDP94pn0MF71A-IdQ/viewform?usp=sf_link', class: "text-blue-500 flex justify-center" %></div>
  </div>
</div>
