<div class="flex justify-center text-gray-700">
  <% flash.each do |type, message| %>
    <div class="py-1">
      <% if type == "notice" %>
        <div class="alert alert-info">
          <span><%= message %></span>
        </div>
      <% elsif type == "alert" %>
        <div class="alert alert-error">
          <span><%= message %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>