<div class="navbar bg-primary text-primary-content ">
  <%= link_to t('defaults.app_name'), items_path, class: "btn btn-ghost normal-case text-xl" %>
  <div>
    <%= Item.count %><p class="ml-2"><%= t('.pages_now') %></p>
  </div>
</div>