<% item.photos.each do |photo| %>
  <div class="flex justify-center">
    <%= link_to item_path(item), class:"no-underline truncate" do %>
      <div class="flex justify-center">
        <%= item.name %>
      </div>
      <div class="h-200 w-150 rounded-lg">
        <%= image_tag photo.image.url %>
      </div>
    <% end %>
  </div>
<% end %>