<% item.photos.each do |photo| %>
  <div class="mt-6 mb-2 ml-4 mr-4">
    <%= link_to item_path(item) do %>
      <%= image_tag photo.image.url, class:"h-auto max-w-full rounded-lg" %>
    <% end %>
  </div>
<% end %>