<% item.photos.each do |photo| %>
  <div class="">
    <%= link_to item_path(item) do %>
      <div class="h-200 w-150 rounded-lg">
        <div class="flex flex-row">
          <span class="mr-2"><%= item.id %></span>
          <span><%= item.name %></span>
        </div>
        <%= image_tag photo.image.url %>
      </div>
    <% end %>
  </div>
<% end %>