.item {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
  position: relative;
  background: #c7d2fe;
}
.item:after {
  content: "";
  display: block;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 15%;
  top: 15%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transform: rotateZ(45deg) scaleY(0.8);
  -webkit-transform: rotateZ(45deg) scaleY(0.8);
}

/*animation Setting*/
@keyframes shake {
  0% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  100% { transform: translateX(10px); }
}
@-webkit-keyframes shake {
  0% { -webkit-transform: translateX(10px); }
  50% { -webkit-transform: translateX(-10px); }
  100% { -webkit-transform: translateX(10px); }
}

/*animation Play*/
@for $i from 0 through 50 {
  $time: $i*0.2;
  $scale: $i*0.1;

  .shake#{$i * 1} {
      animation: shake ($time+2)+s ease 0s infinite normal;
      -webkit-animation: shake ($time+2)+s ease 0s infinite normal;
  }
  .move#{$i * 1}  {
      $b_ease: cubic-bezier(0.47, 0, 0.745, 0.715);
      animation: move ($time+5)+s $b_ease $time+s infinite normal;
      -webkit-animation: move ($time+5)+s $b_ease $time+s infinite normal;

      position: absolute;
      bottom: -10%;
  }
  .pos#{$i * 1}  {
      left: percentage($i*2/100);
  }
  .scale#{$i * 1}  {
      transform: scale($scale);
      -webkit-transform: scale($scale);
  }
}